<footer class="page-footer font-small blue -bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© Batch#367 Copyright:
    <a href="https://lewagon.com/"> Wrist on Fleek with WatchPrime</a>
  </div>
  <!-- Copyright -->

</footer>
