<div class="card-product">
  <img src="https://images.unsplash.com/photo-1541163749385-a9363e70e07e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=975&q=80" />
  <div class="card-product-infos">
    <h2>Watch requested</h2>
    <p><strong>Brand:</strong></p>
    <p><strong>Model:</strong></p>
    <p><strong>Content:</strong></p>
    <p><strong>Request Status:</strong></p>
  </div>
</div>
