
<div class="dashboard-container">
    <div class="dashboard-sidebar">
      <%= render 'shared/sidebar' %>
    </div>
  <div>

    <%#= render 'shared/request_card' %>
    <div class="dashboard-main">
      <h3>Requests</h3>
      <div  class="dashboard-request">
        <%= render 'shared/request-card' %>
      </div>
    </div>
  </div>
</div>
