
<div class="dashboard-container">
    <div class="dashboard-sidebar">
      <%= render 'shared/sidebar' %>
    </div>
  <div>

    <div class="dashboard-main">
      <h3>Requests</h3>

      <div  class="dashboard-request">
        <%= render 'shared/card_dash' %>
      </div>

    </div>
  </div>
</div>
