
<div class="dashboard-container">
    <div class="dashboard-sidebar">
      <%= render 'shared/sidebar' %>
    </div>
  <div>
<h3>Requests</h3>

  <div class="dashboard-main">
      <%= render 'shared/request-card' %>
  </div>

