<div class="container-body">
  <div class="header">
    <h1>Add a new request</h1>
  </div>
  <%= render 'form' %>
  <div>
    <%#= link_to "dashboard", user_path %>
  </div>
  <div class="push"></div>
</div>

