<%= render 'shared/banner' %>

<div class="d-flex flex-row container">
    <% @watches.each do |watch| %>
    <div class="p-2">
      <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title"><%= watch.brand %> <%= watch.model %></h5>
      <p class="card-text"><%= watch.price %></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
 <% end %>





