<h1>Watch Index</h1>

<ul>
  <% @watches.each do |watch| %>

  <li><%= link_to "#{watch.brand} #{watch.model}", watch_path(:id) %> %></li>

  <li><%= watch.brand %> <%= watch.brand %> </li>
  <% end %>
</ul>
