<h1>Watch Index</h1>

<ul>

  <% @watches.each do |watch| %>
  <div class="card" style="width: 18rem;">
    <%#= cl_image_tag watch.image_url.key, height: 200, width: 200, crop: :fill %>

  <div class="card-body">

  <p class="card-text">watch.brand</p>
  </div >
  <div id="button">
    <%= link_to "Discover", watch_path(watch.id) %>
  </div>
  <% end %>


</ul>


