.carousel-item {
  height: 500px !important;
}

.carousel-item img {
  width: 500px;
  height: 500px;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
}
