.jumbotron {
  background-image: url('https://images.unsplash.com/photo-1521485950395-bcfb8fc9bd06?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
  height: 500px;
  background-position: center;
  h1{
    font-weight: bold;
    color:white;
    text-shadow: 2px 2px 4px #000000;
  }

  p{
    font-weight: bold;
    margin-left: 50px;
    color: #F8ECEF;
    font-size: 20px;
     text-shadow: 2px 2px 4px #000000;
  }
}
.underline--magical {
  background-image: linear-gradient(to right top, #ba324f, #ce6578, #df93a1, #edbfc9, #f8ecef);
  background-repeat: no-repeat;
  background-size: 100% 0.8em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}
.homestyle{
  margin-top: 100px;
}


