
$red_b: #80001f;

#button {
  color: $red_b;
  background-color: $red_b;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  width: 100px;
  a {
    color: white;

  }
}

#button {
  &:hover {
    color: white;
    text-decoration: none;
  }
}
