@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


.card-dash {
  display: flex;
  height: 190px;
  width: 685px;
  margin: 10px auto;
  margin-top: 23px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 50px;

}

.card-dash-border-orange{
  border: 1px solid orange;
}

.card-dash-border-green{
  border: 1px solid green;
}

.request-title {
    margin-top: 70px;
}
.content {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-left: 45px;
}

.title {
  margin-bottom: 5px;
  width: 350px;
  margin-left: 15px;
}

.column1 {
  float: left;
  width: 30%;
  img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.column2 {
  width: 375px;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  margin-left: 15px;
}

.text {
  padding-right: 30px;
}

.button {
  background-color: #80001f;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
  width: 100px;
  color: white;
  text-decoration: none;
    &:hover {
      color: white;
      text-decoration: none;
      background-color: black;
    }
}

.info-request {
  text-align: center;

}
