@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


.card-dash {
  display: flex;
  height: 190px;
  width: 685px;
  border-radius: 5px;
  margin: 10px auto;
  margin-top: 23px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.content {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 5px;
  width: 350px;
  margin-left: 15px;
}

.column1 {
  float: left;
  width: 40%;
  img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.column2 {
  width: 375px;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  margin-left: 15px;
}

.text {
  padding-right: 30px;
}

.button {
  background-color: #80001f;
  padding: 5px;
  border-radius: 50px;
  text-align: center;
  width: 100px;
  margin-left: 140px;
  text-decoration: none;
  a {
    color: white;
  }
}

.info-request {
  text-align: center;

}
