.dashboard-container{
  margin-left: 300px;
  margin-right: 200px;
  margin-top: 50px;
}
.dashboard-main{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  h3{

  }
}
.merger{
  display: flex;
  flex-direction: column;
}
