@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');





// all the css for the user_watch_card
// .card_user_watch {
//   width: 700px;
//   height: 300px;
//   border: 1px solid black;
//   border-radius: 15px;
// }

.container {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 10px;
}

.card-user {
  margin: 50px;
  float: left;
  width: 270px;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image {
  img {
    width: 100%;
    height: auto;
  }
}

.inline-btn {
  margin-top: 50px;
}


.info {
  font-size: 15px;
  margin-left: 15px;
  h5 {
    padding: 5px;
  }
}
Ï
.content-watch {
  background-color: #1F2421;
  opacity: 90%;
  color: white;
}

.row1 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid;
  margin-left: 10px;
  margin-right: 10px;
}

.row2 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-left: 10px;
  align-items: flex-end;
}

.button-user {
  background-color: #80001f;
  padding: 5px;
  border-radius: 12px;
  text-align: center;
  width: 67px;
  text-decoration: none;
  color: white;
  padding: 8px;
}

a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

